<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main class="hero-section">
    <section class="container">
      <div class="hero-content">
        <nav class="navbar">
          <h1 class="nav-logo">EIS</h1>
          <ul class="nav-links">
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
        <div class="hero-text">
          <h2 class="hero-welcome-text">Welcome To</h2>
          <h1 class="hero-country">EIS</h1>
          <p class="hero-text-description">Introducing the Eternal Image Storage website to make sure your memories are kept forver here.</p>
          <a href="/signup"><button class="explore-btn">Sign Up Now</button></a>
        </div>
      </div>
    </section>
  </main>
</body>
</html>